@using Microsoft.AspNetCore.Html
@model PostViewModel
@{
    void ShowComments(int? parrentId)
    {
        var comments = Model.Comments.Where(x => x.ParrentId == parrentId);

        if (!comments.Any())
        {
            return;
        }

        @foreach (var comment in comments)
        {
            <div class="card mb-3 mt-3">
                <div class="card-header">
                    Reply from: @comment.Creator.UserName
                </div>
                <div class="card-body">
                    <h5 class="card-title">@comment.Contents</h5>
                    <p class="card-text">Created on: @comment.CreatedOn</p>
                    <p class="card-text">Last modified: @comment.ModifiedOn</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    @{
                        ShowComments(comment.Id);
                    }
                </div>
            </div>
        }
    }
}
<div class="card mb-3">
    <div class="card">
        <h5 class="card-header">@Model.Title</h5>
        <div class="card-body">
            <h5 class="card-title">@Model.Contents</h5>
            <p class="card-text">Created on: @Model.CreatedOn</p>
            <p class="card-text">Last modified: @Model.ModifiedOn</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            <hr />
            @{
                ShowComments(null);
            }
        </div>
    </div>
    <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>

