@using Microsoft.AspNetCore.Html
@using System.Globalization
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> userManager

@model PostViewModel
@{
    void ShowComments(int? parrentId)
    {
        var comments = Model.Comments.Where(x => x.ParrentId == parrentId);
        if (!comments.Any())
        { return; }
        @foreach (var comment in comments)
        {
            <div class="card mb-3 mt-3 mx-3">
                <div class="card-header">
                    Reply from: @comment.Creator.UserName
                </div>
                <div class="card-body">
                    <h5 class="card-title">@Html.Raw(comment.SanitizedContents)</h5>
                    <p class="card-text">Created on: @comment.CreatedOn.ToLocalTime() </p>
                    <p class="card-text">Last modified: @comment.ModifiedOn.ToLocalTime()</p>
                    <a class="btn btn-primary" onclick="ShowAddCommentForm(@comment.Id)" onmouseover="ShowText('comment-' + @comment.Id)" onmouseout="HideText('comment-' + @comment.Id)">
                        <i class="fa-solid fa-comment-dots"></i>
                        <p id="text-comment-@comment.Id" style="display: none">Comment</p>
                    </a>

                    @if (userManager.GetUserId(this.User) == comment.CreatorId)
                    {
                        <a href="/Comment/Edit?commentId=@comment.Id" class="btn btn-warning" onmouseover="ShowText(@comment.Id)" onmouseout="HideText(@comment.Id)">
                            <i class="fa-solid fa-pen-to-square"></i>
                            <p id="text-@comment.Id" style="display:none">Edit</p>
                        </a>

                        <a class="btn btn-danger" id="delete-post-btn@(comment.Id)"
                                 onmouseover="ShowText('delete-' + @comment.Id)"
                                 onmouseout="HideText('delete-' + @comment.Id)"
                                 onclick="ShowDeleteConfirm(@comment.Id)">
                            <i class="fa-solid fa-trash-can"></i>
                            <p id="text-delete-@comment.Id" style="display:none">Delete</p>
                        </a>

                        <div id="delete-confirm@(comment.Id)" style="display:none">
                            <p>Are you sure you want to Delete this post?</p>
                            <button class="btn btn-danger" >Yes</button>
                            <button class="btn btn-secondary" onclick="ShowDeleteConfirm(@comment.Id)">No</button>
                        </div>
                    }

                    @{
                        ShowComments(comment.Id);
                    }
                </div>
            </div>
        }
    }
}
<div class="card mb-3">
    <div class="card ">
        <h5 class="card-header">@Model.Title</h5>
        <div class="card-body">
            <h5 class="card-title">@Html.Raw(Model.SanitizedContents)</h5>
            <p class="card-text">Created on: @Model.CreatedOn</p>
            <p class="card-text">Last modified: @Model.ModifiedOn</p>
            <a class="btn btn-primary" onclick="ShowAddCommentForm(0)" onmouseover="ShowText('comment')" onmouseout="HideText('comment')">
                <i class="fa-solid fa-comment-dots"></i>
                <p id="text-comment" style="display: none">Comment</p>
            </a>

            @if (userManager.GetUserId(this.User) == Model.CreatorId)
            {
                <a class="btn btn-warning" onmouseover="ShowText('edit')" onmouseout="HideText('edit')" asp-controller="Post" asp-action="Edit" asp-route-postId="@Model.Id">
                    <i class="fa-solid fa-pen-to-square"></i>
                    <p id="text-edit" style="display:none">Edit</p>
                </a>
                <a class="btn btn-danger" id="delete-post-btn" onmouseover="ShowText('delete')" onmouseout="HideText('delete')" onclick="ShowDeleteConfirm('')">
                    <i class="fa-solid fa-trash-can"></i>
                    <p id="text-delete" style="display:none">Delete</p>
                </a>
                <div id="delete-confirm" style="display:none">
                    <p>Are you sure you want to Delete this post?</p>
                    <a class="btn btn-danger" asp-controller="Post" asp-action="Delete" asp-route-postId="@Model.Id">Yes</a>
                    <button class="btn btn-secondary" onclick="ShowDeleteConfirm('')">No</button>
                </div>
            }
            <hr />

            <form method="Post" id="comment-form" asp-controller="Comment" asp-action="Create" style="display:none">
                <div class="mb-4">
                    <label for="Contents" class="form-label">Write Comment</label>
                    <textarea class="form-control" name="Contents" id="Contents" rows="4" placeholder="Type your comment here..."></textarea>
                    <input type="hidden" name="postId" value="@Model.Id" />
                    <input type="hidden" name="parrentId" value="0" />
                    <input class="btn btn-success mt-2" type="submit" value="Create" />
                </div>
            </form>

            @{
                ShowComments(null);
            }
        </div>
    </div>
    <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>

@section Scripts {
<script>
        function ShowAddCommentForm(parrentId){
            $("#comment-form input[name='parrentId']").val(parrentId);
            $("#comment-form").toggle();
            $([document.documentElement, document.body]).animate({
        scrollTop: $("#comment-form").offset().top
    }, 300);
      }
</script>

<script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'a11ychecker advcode casechange export formatpainter image editimage linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tableofcontents tinycomments tinymcespellchecker',
      toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter image editimage pageembed permanentpen table tableofcontents',
      toolbar_mode: 'floating',
      tinycomments_mode: 'embedded',
      tinycomments_author: 'Author name',
    });
</script>

<script>
    function ShowText(commentId){
        $("#text-" + commentId).show();
    }

    function HideText(commentId){
        $("#text-" + commentId).hide();
    }
</script>

<script>
    function ShowDeleteConfirm(commentId){
        if($("#delete-confirm"+commentId).is(":hidden")){
             $("#delete-confirm"+commentId).show();
             $("#delete-post-btn"+commentId).hide();
        }else{
             $("#delete-confirm"+commentId).hide();
             $("#delete-post-btn"+commentId).show();
        }

    }
</script>
}