@using Microsoft.AspNetCore.Html
@model PostViewModel
@{
    void ShowComments(int? parrentId)
    {
        var comments = Model.Comments.Where(x => x.ParrentId == parrentId);
        if (!comments.Any())
        { return; }
        @foreach (var comment in comments)
        {
            <div class="card mb-3 mt-3 mx-3">
                <div class="card-header">
                    Reply from: @comment.Creator.UserName
                </div>
                <div class="card-body">
                    <h5 class="card-title">@comment.Contents</h5>
                    <p class="card-text">Created on: @comment.CreatedOn</p>
                    <p class="card-text">Last modified: @comment.ModifiedOn</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    @{
                        ShowComments(comment.Id);
                    }
                </div>
            </div>
        }
    }
}
<div class="card mb-3">
    <div class="card ">
        <h5 class="card-header">@Model.Title</h5>
        <div class="card-body">
            <h5 class="card-title">@Model.Contents</h5>
            <p class="card-text">Created on: @Model.CreatedOn</p>
            <p class="card-text">Last modified: @Model.ModifiedOn</p>
            <a href="#" class="btn btn-primary"><i class="fa-solid fa-comment-dots"></i></a>
            <hr />

            <form method="Post" asp-controller="Comment" asp-action="Create">
                <div class="mb-4">
                    <label asp-for="Contents" class="form-label">Write Comment</label>
                    <textarea class="form-control" id="write-comment" asp-for="@Model.CreateComment.Contents" rows="4" placeholder="Type your comment here..."></textarea>
                    <input type="hidden" asp-for="Id" value="@Model.Id" />
                    <input class="btn btn-success mt-2" type="submit" value="Create" />
                </div>
            </form>

            @{
                ShowComments(null);
            }
        </div>
    </div>
    <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>


