@model CategoryAllPostViewModel
@{
    this.ViewData["Title"] = ViewData["categoryName"];
}
<h2 class="text-center mb-4">Category @ViewData["categoryName"]</h2>
<a class="btn btn-outline-success mb-4" asp-controller="Post" asp-action="Create" asp-route-categoryId="@Model.CategoryId">Write new post</a>
@foreach (var post in Model.Posts)
{
    <div class="card mb-3">
        <h5 class="card-header">@post.CategoryName</h5>
        <div class="card-body">
            <h5 class="card-title">@post.Title</h5>
            <p class="card-text">@Html.Raw(post.SanitizedContents)</p>
            <a class="btn btn-primary" asp-controller="Post" asp-action="ById" asp-route-postId="@post.Id">Read this post</a>
        </div>
    </div>

}

<nav aria-label="...">
    <ul class="pagination">
        <li class="page-item disabled @if (!Model.HasPrevious) {<text>disabled</text>}">
            <a  class="page-link" asp-controller="Category" asp-action="AllPosts" asp-route-categoryId="@Model.CategoryId" asp-route-categoryName="@ViewData["categoryName"]" asp-route-pageNumber="@Model.PreviousPage">Previous</a>
        </li>

        @for (var i = Model.CurrentPage - 3; i < Model.CurrentPage + 2; i++)
        {
            if (i > 0)
            {
                <li class="page-item active">
                    <a class="page-link" asp-controller="Category" asp-action="AllPosts" asp-route-categoryId="@Model.CategoryId" asp-route-categoryName="@ViewData["categoryName"]" asp-route-pageNumber="@Model.PreviousPage">
                        @i<span class="sr-only">(current)</span>
                    </a>
                </li>
            }
        }
        
        <li class="page-item @if (!Model.HasNext) {<text>disabled</text>}">
            <a class="page-link" asp-controller="Category" asp-action="AllPosts" asp-route-categoryId="@Model.CategoryId" asp-route-categoryName="@ViewData["categoryName"]" asp-route-pageNumber="@Model.NextPage">Next</a>
        </li>
    </ul>
</nav>
