@model MyForumSystem.Areas.Admin.Models.Posts.AllPostsApproveViewModel
@{
    ViewData["Title"] = "Approve posts";
}
<h2 class="text-center mb-3">Welcome to Admin approve panel</h2>
<hr />

@if (!Model.posts.Any())
{
    <h2>No new posts to approve.</h2>
}
else
{
    foreach (var post in Model.posts)
    {
        <div class="card mb-3">
            <div class="card ">
                <h5 class="card-header">@post.Title</h5>

                <div class="card-body">
                    <h5 class="card-title">@Html.Raw(post.SanitizedContents)</h5>
                    <p class="card-text">Created on: @post.CreatedOn</p>
                    <p class="card-text">Creator: @post.Creator.UserName</p>
                    <p class="card-text">Post is in: <b> @post.CategoryName</b> category</p>
                    <div id="buttons-container-@post.Id">
                        <button id="button-ok-@post.Id" class="btn btn-success" onclick="ConfirmAction(@post.Id,true)"> <i class="fa-solid fa-circle-check"></i></button>
                        <button id="button-no-@post.Id" class="btn btn-danger" onclick="ConfirmAction(@post.Id, false)"><i class="fa-solid fa-ban"></i></button>
                    </div>
                    <div id="approve-confirm-@post.Id" style="display:none">
                        <h6>Are you sure you want to <b style="color:green">Approve</b> this post?</h6>
                        <a href="/Admin/Post/ApprovePost/?postId=@post.Id" class="btn btn-success">Yes</a>
                        <a class="btn btn-danger" onclick="CloseConfirmation(@post.Id)">No</a>
                    </div>
                    <div id="decline-confirm-@post.Id" style="display:none">
                        <h6>Are you sure you want to <b style="color:crimson">Decline</b> this post?</h6>
                        <a href="/Admin/Post/DeclinePost/?postId=@post.Id" class="btn btn-success">Yes</a>
                        <a class="btn btn-danger" onclick="CloseConfirmation(@post.Id)">No</a>
                    </div>
                </div>
            </div>

        </div>
    }
}


@section Scripts{
    <script>
        function ConfirmAction(postId, isApprove) {
            if (isApprove) {
                $("#buttons-container-" + postId).hide();
                $("#approve-confirm-" + postId).show();
            } else {
                $("#buttons-container-" + postId).hide();
                $("#decline-confirm-" + postId).show();
            }

        }
    </script>
    <script>
        function CloseConfirmation(postId) {
            $("#approve-confirm-" + postId).hide();
            $("#decline-confirm-" + postId).hide();
            $("#buttons-container-" + postId).show();
        }
    </script>
}