@model ICollection<CategoryIndexViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <div class="row">
            @foreach (var category in Model)
            {
                <div class="card m-2" style="max-width: 615px;">
                    <div class="row">
                        <div class="col-md-4">
                            <a asp-controller="Category" asp-action="AllPosts" asp-route-categoryId="@category.Id" asp-route-categoryName="@category.Name">
                                <img src="@category.Image" class="img-fluid rounded-start p-2 pb-1" alt="category image">
                            </a>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <a class="text-decoration-none" asp-controller="Category" asp-action="AllPosts" asp-route-categoryId="@category.Id" asp-route-categoryName="@category.Name" asp-route-pageNumber="1">
                                    <h5 class="card-title">@category.Name</h5>
                                </a>
                                <p class="card-text">@category.Description</p>
                                <p class="card-text"><small class="text-muted">Category is created on: @category.CreatedOn</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

